@font-face {
  font-family: LogoFont;
  src: url("assets/font/logo.ttf") format("truetype");
}
@font-face {
  font-family: ExoBoldItalic;
  src: url("assets/font/ExoBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: ExoSemiBold;
  src: url("assets/font/ExoSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: ExoMedium;
  src: url("assets/font/ExoMedium.ttf") format("truetype");
}
@font-face {
  font-family: ExoRegular;
  src: url("assets/font/ExoRegular.ttf") format("truetype");
}
@font-face {
  font-family: ExoLight;
  src: url("assets/font/ExoLight.ttf") format("truetype");
}
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.main_page {
  height: 100vh;
  margin-top: 25%;
}

.logo {
  font-family: LogoFont;
  font-size: 36px;
  color: #FFF;
  display: inline-block;
  margin-left: 40px;
  margin-top: 23px;
}

.right-info-bar {
  font-family: "ExoMedium";
  font-size: 14px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  text-align: right;
}

.work-days {
  margin-bottom: 15px;
}

.work-days-text {
  margin-right: 15px;
  color: #FFFFFF;
}

.geo-text {
  margin-right: 15px;
  color: #FFFFFF;
}

#first_block {
  background-image: url("assets/img/bg1.jpg");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#first_block .title {
  display: flex;
  flex-direction: column;
  font-family: "ExoBoldItalic";
  font-size: 80px;
  line-height: 92px;
  text-align: center;
  color: #FFFFFF;
  max-width: 30ch;
  margin: auto;
}
#first_block .desc {
  font-family: "ExoSemiBold";
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  margin: 40px auto 50px;
}
#first_block .bottom-logo {
  font-family: LogoFont;
  font-size: 184px;
  line-height: 240px;
  letter-spacing: 10px;
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
}

.request_quote {
  font-family: "ExoSemiBold";
  font-size: 24px;
  line-height: 32px;
  color: #FD4A01;
  background: rgba(26, 26, 26, 0.25);
  background-blend-mode: hard-light;
  border: 4px solid #FD4A01;
  box-sizing: border-box;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 55px;
}

.facebook {
  margin-right: 40px;
}

.instagram {
  margin-right: 40px;
}

#second_block {
  background-image: url("assets/img/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#second_block .title {
  font-family: "ExoBoldItalic";
  font-size: 80px;
  line-height: 92px;
  color: #FFFFFF;
  max-width: 30ch;
  margin-top: 90px;
}
#second_block .desc {
  font-family: "ExoRegular";
  font-size: 38px;
  line-height: 92px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
#second_block .bottom-logo {
  font-family: LogoFont;
  font-size: 184px;
  line-height: 240px;
  letter-spacing: 10px;
  position: absolute;
  float: left;
  bottom: -100vh;
  left: 0;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
}

#third_block {
  background-image: url("assets/img/bg3.png");
  background-blend-mode: overlay;
  background-color: rgba(253, 74, 1, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#third_block .title {
  font-family: ExoLight;
  font-size: 46px;
  line-height: 58px;
  color: #FFFFFF;
  margin-top: 90px;
}
#third_block .slider {
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 75px;
}
#third_block .slide {
  font-family: "ExoRegular";
  font-size: 38px;
  line-height: 92px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 20px 20px;
}
#third_block .slide1 {
  background-image: url("assets/img/first_slide.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
}
#third_block .slide2 {
  background-image: url("assets/img/second_slide.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
}
#third_block .slide3 {
  background-image: url("assets/img/third_slide.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
}
#third_block .slide4 {
  background-image: url("assets/img/fourth_slide.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}
#third_block .title-slide {
  font-family: "ExoSemiBold";
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: left;
}
#third_block .text-slide {
  font-family: "ExoLight";
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 400px;
  margin-top: 20px;
}
#third_block .bottom-logo {
  font-family: LogoFont;
  font-size: 184px;
  line-height: 240px;
  letter-spacing: 10px;
  position: absolute;
  float: left;
  bottom: -100vh;
  left: 0;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
}

@media (max-width: 570px) {
  .logo {
    font-size: 16px;
  }

  .right-info-bar {
    font-size: 12px;
  }

  #first_block .title {
    font-size: 24px;
    line-height: 26px;
  }
  #first_block .desc {
    font-size: 14px;
    line-height: 16px;
    max-width: 40ch;
  }
  #first_block .bottom-logo {
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 5px;
  }

  .request_quote {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 18px;
  }

  #second_block .title {
    font-size: 24px;
    line-height: 26px;
  }
  #second_block .desc {
    font-size: 14px;
    line-height: 16px;
  }
  #second_block .bottom-logo {
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
