@font-face {
  font-family: LogoFont;
  src: url("../font/logo.ttf") format("truetype");
}

@font-face {
  font-family: ExoBoldItalic;
  src: url("../font/ExoBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: ExoSemiBold;
  src: url("../font/ExoSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: ExoMedium;
  src: url("../font/ExoMedium.ttf") format("truetype");
}

@font-face {
  font-family: ExoRegular;
  src: url("../font/ExoRegular.ttf") format("truetype");
}

@font-face {
  font-family: ExoLight;
  src: url("../font/ExoLight.ttf") format("truetype");
}

@font-face {
  font-family: Segoe;
  src: url("../font/Segoe.ttf") format("truetype");
}

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  width: 100%;
  z-index: 7;

  .menu {
    display: flex;

    ul {
      list-style-type: none;
    }

    li {
      font-family: Segoe;
      font-size: 19px;
      color: #FFFFFF;
      margin-right: 60px;
      transition: 0.3s;

      &:hover {
        color: #FD4A01;
        cursor: pointer;
      }
    }

    .top {
      display: flex;
      flex-direction: row;
      text-decoration: none;
    }
  }
}

.main_page {
  height: 100vh;
  margin-top: 25%;
}

.logo {
  font-family: LogoFont;
  font-size: 36px;
  color: #FFF;
  display: inline-block;
  margin-left: 40px;
  margin-top: 23px;
}

.right-info-bar {
  font-family: 'ExoMedium';
  font-size: 14px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  text-align: right;
}

.work-days {
  margin-top: 15px;
}

.work-days-text {
  margin-right: 15px;
  color: #FFFFFF;
}

.geo-text {
  margin-right: 15px;
  color: #FFFFFF;
}

#first_block {
  background-image: url("../img/bg4.jpg");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .title {
    display: flex;
    flex-direction: column;
    font-family: 'ExoBoldItalic';
    font-size: 80px;
    line-height: 92px;
    text-align: center;
    color: #FFFFFF;
    max-width: 30ch;
    margin: auto;
  }

  .desc {
    font-family: 'ExoSemiBold';
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    margin: 40px auto 50px
  }

  .bottom-logo {
    font-family: LogoFont;
    font-size: 184px;
    line-height: 240px;
    letter-spacing: 10px;
    position: absolute;
    float: left;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  }
}

.request_quote {
  font-family: 'ExoSemiBold';
  font-size: 24px;
  line-height: 32px;
  color: #FD4A01;
  background: rgba(26, 26, 26, 0.25);
  background-blend-mode: hard-light;
  border: 4px solid #FD4A01;
  box-sizing: border-box;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: 0.4s;

  &:hover {
    background: #FD4A01;
    color: #FFFFFF;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 55px;
  transition: 0.3s;

  &:hover {
    color: #FD4A01;
  }
}

.facebook {
  margin-right: 40px;
}

.instagram {
  margin-right: 40px;
}

svg {
  path {
    transition: 0.3s;
  }

  &:hover {
    cursor: pointer;
    path {
      fill: #FD4A01;
    }
  }
}



#second_block {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .title {
    font-family: 'ExoBoldItalic';
    font-size: 80px;
    line-height: 92px;
    color: #FFFFFF;
    max-width: 30ch;
    margin-top: 90px;
  }

  .desc {
    font-family: 'ExoRegular';
    font-size: 38px;
    line-height: 92px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  .bottom-logo {
    font-family: LogoFont;
    font-size: 184px;
    line-height: 240px;
    letter-spacing: 10px;
    position: absolute;
    float: left;
    bottom: -100vh;
    left: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  }
}

#third_block {
  background-image: url("../img/bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .title {
    z-index: 1;
    font-family: ExoLight;
    font-size: 46px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 90px;
  }

  .slider {
    z-index: 1;
    margin-top: 50px;
    margin-right: 75px;
    margin-left: 75px;
  }

  .slide {
    z-index: 1;
    font-family: 'ExoRegular';
    font-size: 38px;
    line-height: 92px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 20px 20px;
  }

  .slide1 {
    background-image: url("../img/first_slide.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
  }

  .slide2 {
    background-image: url("../img/second_slide.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
  }

  .slide3 {
    background-image: url("../img/third_slide.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
  }

  .slide4 {
    background-image: url("../img/fourth_slide.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
  }

  .title-slide{
    font-family: 'ExoSemiBold';
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: left;
  }

  .text-slide{
    font-family: 'ExoLight';
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 400px;
    margin-top: 20px;
  }

  .bottom-logo {
    font-family: LogoFont;
    font-size: 184px;
    line-height: 240px;
    letter-spacing: 10px;
    position: absolute;
    float: left;
    bottom: -100vh;
    left: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  }

  .bg-color {
    position: absolute;
    background: rgba(253, 74, 1, 0.8);
    width: 100%;
    height: 100%;
  }
}

@import "sm-style";
@import "md-style";
@import "lg-style";
@import "xl-style";
@import "xxl-style";
