@media (max-width: 1500px) and (min-width: 1201px){
  .header {
    .menu {
      li {
        font-size: 1.8vw;
        margin-right: 18px;
        letter-spacing: 2px;
      }
    }
  }

  #first_block {
    .title {
      font-size: 42px;
      line-height: 46px;
    }

    .desc {
      font-size: 24px;
      line-height: 26px;
      max-width: 40ch;
    }
  }

  .request_quote {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 18px;
  }

  #second_block {
    .title {
      font-size: 42px;
      line-height: 46px;
      margin-top: 150px;
    }

    .desc {
      font-size: 24px;
      line-height: 26px;
    }
  }

  #third_block {
  }
}
