@media (max-width: 1500px) and (min-width: 1201px) and (max-height: 800px) and (min-height: 700px){
  #first_block {
    .title {
      font-size: 42px;
      line-height: 46px;
    }

    .desc {
      font-size: 24px;
      line-height: 26px;
      max-width: 40ch;
    }

    .bottom-logo {
      font-size: 98px;
      line-height: 100px;
      letter-spacing: 5px;
    }
  }

  .request_quote {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 18px;
  }

  #second_block {
    .title {
      font-size: 42px;
      line-height: 46px;
      margin-top: 150px;
    }

    .desc {
      font-size: 24px;
      line-height: 26px;
    }

    .bottom-logo {
      font-size: 98px;
      line-height: 100px;
      letter-spacing: 5px;
    }
  }

  #third_block {
    display: none;
  }
}
